:root{
	--basis-s: 44%;
	--basis-z: 2.5;
	--basis-d: 1s;
	--load-d: 1.3s;
}
.logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.little-broken-logo, .middle-broken-logo, .broken-logo, .full-logo {
	position: absolute;
	top: calc((100% - var(--basis-s)) / 2);
	right: calc((100% - var(--basis-s)) / 2);
	width: var(--basis-s);
	height: var(--basis-s);
	background-position: center;
	background-repeat: no-repeat;
	background-size: var(--basis-s);
	opacity: 0;

	-webkit-animation-name: takeColor;

	        animation-name: takeColor;
	-webkit-animation-duration: calc(var(--basis-d) / 20 * 3);
	        animation-duration: calc(var(--basis-d) / 20 * 3);
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	-webkit-animation-delay: var(--load-d);
	        animation-delay: var(--load-d);
}
.full-logo {
	background-image: url("../images/MyLogo2.png");
	-webkit-animation-name: zoomOut;
	        animation-name: zoomOut;
	-webkit-animation-duration: calc(var(--basis-d) / 20 * 17);
	        animation-duration: calc(var(--basis-d) / 20 * 17);
	-webkit-animation-timing-function: cubic-bezier(.45,.2,.9,.06);
	        animation-timing-function: cubic-bezier(.45,.2,.9,.06);
	-webkit-animation-delay: var(--load-d);
	        animation-delay: var(--load-d);
}
.little-broken-logo {
	background-image: url("../images/MyLogo3.png");
	-webkit-animation-delay: calc(var(--basis-d) / 20 * 16 + var(--load-d));
	        animation-delay: calc(var(--basis-d) / 20 * 16 + var(--load-d));
}
.middle-broken-logo {
	background-image: url("../images/MyLogo4.png");
	-webkit-animation-delay: calc(var(--basis-d) / 20 * 17 + var(--load-d));
	        animation-delay: calc(var(--basis-d) / 20 * 17 + var(--load-d));
}
.broken-logo {
	opacity: 1;
	background-image: url("../images/MyLogo.png");
	-webkit-animation-name: loseColorTake;
	        animation-name: loseColorTake;
	-webkit-animation-duration: var(--basis-d);
	        animation-duration: var(--basis-d);
	-webkit-animation-delay: var(--load-d);
	        animation-delay: var(--load-d);
}
.logo, .top-bar{
	-webkit-animation-name: drag;
	        animation-name: drag;
	-webkit-animation-duration: .3s;
	        animation-duration: .3s;
	-webkit-animation-delay: calc(var(--basis-d) / 100 * 90 + var(--load-d));
	        animation-delay: calc(var(--basis-d) / 100 * 90 + var(--load-d));
}


.load {
	font-family: TitleFont;
	font-size: 50px;
	width: 0;
	height: 0;
	opacity: 0;
	background: white;
	color: black;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-animation-name: fade;
	        animation-name: fade;
	-webkit-animation-duration: 1.5s;
	        animation-duration: 1.5s;
}
.load .load-letter {
	position: relative;
	display: inline-block;
	height: 100%;
}
.load .load-white-plane {
	width: 100%;
	height: 0;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1001;
	-webkit-animation-name: decrise;
	        animation-name: decrise;
	-webkit-animation-duration: 1.2s;
	        animation-duration: 1.2s;

}
.load .load-plane {
	width: 100%;
	height: 0%;
	background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
	background: -webkit-linear-gradient(transparent, black);
	background: -o-linear-gradient(transparent, black);
	background: linear-gradient(transparent, black);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1001;
	-webkit-animation-name: incrise;
	        animation-name: incrise;
	-webkit-animation-duration: 1.2s;
	        animation-duration: 1.2s;
}

@-webkit-keyframes fade{
	0%{
		width: 100%;
		height: 100%;
		opacity: 1;
	}
	90%{
		width: 100%;
		height: 100%;
		opacity: 1;
	}
	100%{
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}

@keyframes fade{
	0%{
		width: 100%;
		height: 100%;
		opacity: 1;
	}
	90%{
		width: 100%;
		height: 100%;
		opacity: 1;
	}
	100%{
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
@-webkit-keyframes incrise{
	0%{
		height: 0;
	}
	100%{
		height: 100%;
	}
}
@keyframes incrise{
	0%{
		height: 0;
	}
	100%{
		height: 100%;
	}
}
@-webkit-keyframes decrise{
	0%{
		height: 100%;
	}
	100%{
		height: 0;
	}
}
@keyframes decrise{
	0%{
		height: 100%;
	}
	100%{
		height: 0;
	}
}

@-webkit-keyframes drag {
	0% {
		-webkit-transform: translate(5px, 5px);
		        transform: translate(5px, 5px);
	} 
	10% {
		-webkit-transform: translate(-5px, 5px);
		        transform: translate(-5px, 5px);
	}
	20% {
		-webkit-transform: translate(5px, -5px);
		        transform: translate(5px, -5px);
	}
	30% {
		-webkit-transform: translate(-5px, -5px);
		        transform: translate(-5px, -5px);
	}
	40% {
		-webkit-transform: translate(5px, 5px);
		        transform: translate(5px, 5px);
	}
	50% {
		-webkit-transform: translate(10px, 5px);
		        transform: translate(10px, 5px);
	}
	60% {
		-webkit-transform: translate(5px, 10px);
		        transform: translate(5px, 10px);
	}
	70% {
		-webkit-transform: translate(-5px, -15px);
		        transform: translate(-5px, -15px);
	}
	80% {
		-webkit-transform: translate(5px, 5px);
		        transform: translate(5px, 5px);
	}
	90% {
		-webkit-transform: translate(5px, -5px);
		        transform: translate(5px, -5px);
	}
	100% {
		-webkit-transform: translate(0, 0);
		        transform: translate(0, 0);
	}
}

@keyframes drag {
	0% {
		-webkit-transform: translate(5px, 5px);
		        transform: translate(5px, 5px);
	} 
	10% {
		-webkit-transform: translate(-5px, 5px);
		        transform: translate(-5px, 5px);
	}
	20% {
		-webkit-transform: translate(5px, -5px);
		        transform: translate(5px, -5px);
	}
	30% {
		-webkit-transform: translate(-5px, -5px);
		        transform: translate(-5px, -5px);
	}
	40% {
		-webkit-transform: translate(5px, 5px);
		        transform: translate(5px, 5px);
	}
	50% {
		-webkit-transform: translate(10px, 5px);
		        transform: translate(10px, 5px);
	}
	60% {
		-webkit-transform: translate(5px, 10px);
		        transform: translate(5px, 10px);
	}
	70% {
		-webkit-transform: translate(-5px, -15px);
		        transform: translate(-5px, -15px);
	}
	80% {
		-webkit-transform: translate(5px, 5px);
		        transform: translate(5px, 5px);
	}
	90% {
		-webkit-transform: translate(5px, -5px);
		        transform: translate(5px, -5px);
	}
	100% {
		-webkit-transform: translate(0, 0);
		        transform: translate(0, 0);
	}
}
@-webkit-keyframes zoomOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(var(--basis-z));
		        transform: scale(var(--basis-z));
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
@keyframes zoomOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(var(--basis-z));
		        transform: scale(var(--basis-z));
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
@-webkit-keyframes takeColor {
	0% {
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
@keyframes takeColor {
	0% {
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes loseColorTake {
	0% {
		opacity: 0;
	}1%{
		opacity: 0;
	}
	94%{
		opacity: 0;
	}
	95%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
@keyframes loseColorTake {
	0% {
		opacity: 0;
	}1%{
		opacity: 0;
	}
	94%{
		opacity: 0;
	}
	95%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
