:root{
	--text-color: #15191e;
	--key-color: #009eb3;
}
header, header:before {
	height: 140px;
}
.title {
	height: 100px;
	top: 20px;
	justify-content: space-between;
	flex-direction: row-reverse;
	font-size: 21px;
}
.title img {
	height: 80px;
	width: 80px;
	margin: 10px;
}
section {
	display: flex;
	flex-direction: column;
	position: relative;
}
.lesson {
	display: flex;
	flex-direction: column;
	width: 1000px;
	margin: 50px auto;
	background-color: var(--panel-color);
	font-family: MainFont;
	font-size: 18px;
	padding-top: 0;
	color: var(--text-color);
}
.lesson-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	background: var(--footer-color);
}
.lesson-title-name {
	font-size: 21px;
	color: black;
}
.lesson-title-download {
	color: var(--panel-color);
	position: relative;
}
.lesson-title-download:hover {
	color: var(--hover-color);
}
.lesson-title-download:before{
	content:'';
	display:block;
	height:16px;
	left:-18px;
	position:absolute;
	top:4px;
	width:16px;
	background-image: url("../images/d1.png");
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
}
.lesson-title-download:hover:before {
	background-image: url("../images/d2.png");
}
.lesson-info {
	padding: 10px 20px;
	text-shadow: 1px 1px 2px #bbb;
}
.lesson-info-text p {
	margin: 10px 0;
}

.lesson-code {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.lesson-code-text {
	flex: 2 600px;
	background: var(--hover-color);
	padding: 10px 20px;
}
.lesson-code-text pre{
	
}
.lesson-code-description {
	flex: 1 400px;
	padding: 10px 20px;
	background-color: var(--background-color);
	color: var(--hover-color);
	font-size: 15px;
}


.remark {
	font-style: italic;
}
.key-words {
	color: var(--key-color);
}

.menu {
	position: fixed;
	bottom: 32px;
	right: 20px;
	display: flex;
	flex-direction: column;
	-webkit-flex-wrap: wrap-reverse;
	-moz-flex-wrap: wrap-reverse;
	-ms-flex-wrap: wrap-reverse;
	-o-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
	height: 420px;
	z-index: 50;
	opacity: .5;
	transition: .2s;
}
.menu:hover {
	opacity: 1;
}
.menu a {
	width: 50px;
	height: 50px;
	background: var(--panel-color);
	text-align: center;
	line-height: 50px;
	margin-bottom: 1px;
	font-size: 20px;
	color: var(--text-color);
	font-family: MenuFont;
	transition: .2s;
}
.menu a:hover {
	background: var(--hover-color);
}