* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}
body::-webkit-scrollbar { 
    display: none; 
}
body::-moz-scrollbar { 
    display: none; 
}
body::-ms-scrollbar { 
    display: none; 
}
body::-o-scrollbar { 
    display: none; 
}
body::scrollbar { 
    display: none; 
}
body {
	background: black;
	color: white;
	max-width: 1800px;
	margin: 0 auto;

	background-image: url(../images/brandi-redd-122054-unsplash.jpg);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
header {	
	background:rgba(255,255,255,.95);
}
header .top-wrap {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
}
header .top-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 100;
	background: rgba(0,0,0,.9);
	max-width: 1800px;
	margin: 0 auto;
}

header .top-bar .contacts {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-family: MenuFont;
	font-size: 18px;
	padding: 5px;
	padding-right: 15px;
	height: 60px;
	line-height: 28px;


}
header .top-bar menu {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-family: MenuFont;
	text-transform: uppercase;
	font-size: 22px;
	background: rgba(255,255,255,.9);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 110;
	line-height: 34px;
}
header .top-bar menu .menu-item {
	padding: 14px;
	color: black;
	width: 230px;
	letter-spacing: 1px;
	word-spacing: -5px;
	text-align: center;
	margin: 0 auto;
}
header .top-bar menu .menu-item:hover {
	cursor: pointer;
}
header .menu-button {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px;
	display: inline-block;
	height: 60px;
	width: 60px;
	padding-left: 15px;
	z-index: 111;
}
header .menu-button:hover {
	cursor: pointer;
}
header .menu-button-open {
	background-image: url(../images/menu.png);
}
header .menu-button-closed {
	background-image: url(../images/cancel.png);
}
header .broken-logo {
	background-image: url(../images/MyLogo4.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 300px;
	height: 300px;
	width: 300px;
	margin: 0 auto;
	padding: 120px 0;
}
section {
	background: rgba(255,255,255,.7);
}
section article {
	padding-bottom: 50px;
}
section article .article-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

section article.active .article-name img {
	padding: 0 71px;
}
section article .article-name h2 {
	font-size: 28px;
	text-transform: uppercase;
	background: rgba(0,0,0,.8);
	padding: 20px 10px;
	font-family: TextFont;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
	word-spacing: 1px;
}
section article .article-row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
section article .article-row img {
	padding: 20px;
	width: 170px;
	height: 170px;
}
section article h4 {
	font-size: 22px;
	padding: 20px;
	font-weight: normal;
	color: black;
	font-family: MenuFont;
	line-height: 30px;
	text-align: justify;
}
section article p {
	font-size: 24px;
	color: black;
	font-family: TextFont;
	line-height: 30px;
	text-align: justify;
}
footer {
	background: rgba(255,255,255,.8);

}
footer h4 {
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	padding: 30px;
	padding-bottom: 40px;
}
footer .refers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-family: TextFont;
	font-size: 22px;
	padding: 20px;
	padding-bottom: 40px;
}
footer .refers ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
footer .refers ul li{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 10px 3px;
}
footer .refers ul li p {
	font-family: TextFont;
	color: black;
	padding: 5px;
}
footer .refers ul li a {
	font-family: MenuFont;
	color: black;
	text-decoration: none;
	padding: 5px;
}
footer .refers ul li a:hover {
	cursor: pointer;
}

@media only screen and (max-width: 650px) {
	body {
		background-image: url(../images/mobfon.jpg);
	}
	section article .article-row img {
		display: none;
	}
	header .broken-logo {
		background-size: 200px;
		height: 200px;
		width: 200px;
		margin: 0 auto;
	}

	section article .article-name h2 {
		font-size: 23px;
		padding: 10px 5px;
	}
	section article h4 {
		font-size: 20px;
		padding: 10px;
		line-height: 27px;
	}
	section article p {
		font-size: 21px;
		line-height: 27px;
	}
	footer h4 {
		font-size: 21px;
		padding: 20px;
		padding-bottom: 30px;
	}
}


@font-face {
	font-family: TitleFont;
	src: url(13855.otf);
}
@font-face {
	font-family: TextFont;
	src: url(Alice-Regular.ttf);
}
@font-face {
	font-family: MenuFont;
	src: url(CaviarDreams.ttf);
}
