* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}
body::-webkit-scrollbar { 
    display: none; 
}
body::-moz-scrollbar { 
    display: none; 
}
body::-ms-scrollbar { 
    display: none; 
}
body::-o-scrollbar { 
    display: none; 
}
body::scrollbar { 
    display: none; 
}
body {
	background: black;
	overflow: hidden;
	color: white;
	max-width: 1800px;
	min-width: 1190px;
	margin: 0 auto;
	position: relative;

	background-image: url(../images/brandi-redd-122054-unsplash.jpg);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
header {
	overflow: hidden;
	height: 650px;
	position: relative;
	background: -webkit-linear-gradient(right, rgba(255,255,255,.9), white, rgba(255,255,255,.9));
	background: -o-linear-gradient(right, rgba(255,255,255,.9), white, rgba(255,255,255,.9));
	background: -webkit-gradient(linear, right top, left top, from(rgba(255,255,255,.9)), color-stop(white), to(rgba(255,255,255,.9)));
	background: linear-gradient(right, rgba(255,255,255,.9), white, rgba(255,255,255,.9));
}
.top-wrap {
	position: fixed;
	top:0;
	right: 0;
	z-index: 100;
	width: 100%;
}
header .top-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	overflow: hidden;
	position: relative;
	min-width: 1190px;
	max-width: 1800px;
	z-index: 100;
	margin: 0 auto;
}

header .top-bar .contacts {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-family: MenuFont;
	font-size: 18px;
	padding: 5px;
	padding-left: 10px;
	border-left: 1px solid transparent;
	z-index: 10;
	background: black;
	height: 52px;
	line-height: 26px;

}
header .top-bar menu {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	font-family: MenuFont;
	text-transform: uppercase;
	font-size: 20px;
	z-index: 9;
	position: relative;
	line-height: 34px;
}
header .top-bar:hover .top-plane-black {
	opacity: 1;
}
header .top-bar menu .menu-item {
	padding: 14px;
	overflow: hidden;
	color: white;
	position: relative;
	letter-spacing: 1px;
	word-spacing: -5px;
}

.item-plane {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	-webkit-transition: height .3s;
	-o-transition: height .3s;
	transition: height .3s;
	z-index: 11;
}
header .top-bar menu .menu-item:hover .item-plane{
	height: 100%;
	cursor: pointer;
}
.top-plane {
	display: block;
	position: absolute;
	top: 0;
	right: 234px;
	height: 100%;
	-webkit-transition: width .3s;
	-o-transition: width .3s;
	transition: width .3s;
	z-index: 8;
	background: -webkit-linear-gradient(right, black, transparent);
	background: -o-linear-gradient(right, black, transparent);
	background: -webkit-gradient(linear, right top, left top, from(black), to(transparent));
	background: linear-gradient(right, black, transparent);
	background: -moz-linear-gradient(right, black, transparent);
}
.top-plane-black {
	display: block;
	position: absolute;
	top: 0;
	right: 234px;
	opacity: 0;
	height: 100%;
	width: 100%;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	z-index: 9;
	background: black;
}

section {
	position: relative;
	color: white;
	display: none;
}
section::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	background: rgba(255,255,255,.7);
}
section article {
	position: relative;
	z-index: 2;
	padding-bottom: 50px;
}
section article .article-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
section article .article-name img {
	background-color: black;
	width: 90px;
	height: 90px;
	padding: 0;
	position: relative;
	z-index: 2;
	margin-left: 1px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
section article.active .article-name img {
	padding: 0 71px;
}
section article .article-name h2 {
	text-align: right;
	font-size: 28px;
	text-transform: uppercase;
	background: -webkit-linear-gradient(right, black, transparent);
	background: -o-linear-gradient(right, black, transparent);
	background: -webkit-gradient(linear, right top, left top, from(black), to(transparent));
	background: linear-gradient(right, black, transparent);
	color: white;
	position: relative;
	padding: 7px;
	line-height: 76px;
	font-family: TextFont;
	border-right: 1px solid transparent;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	font-weight: normal;
	letter-spacing: 1px;
	word-spacing: 1px;
	z-index: 2;
	-webkit-transition: background 1s;
	-o-transition: background 1s;
	transition: background 1s;
}
section article .article-row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
section article .article-row img {
	padding: 30px 40px;
	width: 170px;
	height: 170px;
	z-index: 3;
}
section article h4 {
	font-size: 22px;
	padding: 30px;
	font-weight: normal;
	z-index: 2;
	color: black;
	font-family: MenuFont;
	line-height: 30px;
	text-align: justify;
}
section article p {
	font-size: 24px;
	position: relative;
	z-index: 2;
	color: black;
	font-family: TextFont;
	line-height: 30px;
	text-align: justify;
}
section article .article-plane{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
section article.active .article-plane {
	opacity: 1;
}
footer {
	background: rgba(255,255,255,.8);
	display: none;
}
footer h4 {
	color: black;
	text-align: right;
	text-transform: uppercase;
	font-size: 24px;
	padding: 30px;
	padding-bottom: 40px;
}
footer .refers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-family: TextFont;
	font-size: 22px;
	padding: 20px;
	padding-bottom: 40px;
}
footer .refers ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
footer .refers ul li{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
footer .refers ul li p {
	font-family: TextFont;
	color: black;
	padding: 5px;
}
footer .refers ul li a {
	font-family: MenuFont;
	color: black;
	text-decoration: none;
	padding: 5px;
}
footer .refers ul li a:hover {
	cursor: pointer;
}



@font-face {
	font-family: TitleFont;
	src: url(13855.otf);
}
@font-face {
	font-family: TextFont;
	src: url(Alice-Regular.ttf);
}
@font-face {
	font-family: MenuFont;
	src: url(CaviarDreams.ttf);
}