body {
	font-family: SIK;
	font-size: 35px;
	padding: 0;
	margin: 0;
	background: fixed url(f1.jpg) top no-repeat;
	background-size: 100%;
}
header {
	text-align: center;
	font-size: 2.7em;
	background: -webkit-linear-gradient(left, white, white, transparent, white, white);
	margin: 0;
	width: 100%;
}
h1 {
	line-height: 120px;
	margin: 0 auto;
	padding: 0;
	padding-top: 20px;
	width: 80%;
}
h1:hover {
	animation-name: head1;
	transform-origin: 50% -100px;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-timing-function: linear;
}
#menu {
	text-align: center;
	background: -webkit-linear-gradient(left, transparent, #333, transparent);
	margin: 7px 0;
}
menu {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: white;
	transition: color .4s;
}
li {
	list-style: none;
	display: inline-block;
	margin: 5px 30px;
	font-size: 1.2em;
	transition: transform .6s;
}
li a:hover, li:hover {
	color: red;
	transform: scale(1.2);
}
#content {
	width: 80%;
	background: rgba(50,50,50, .8);
	text-align: center;
	margin: 70px auto;
	padding: 30px;
}
#content:hover h2 {
	text-shadow: 0 3px 10px red;
}
#content:hover a {
	transform: translate(-30px, 0);
	background: rgba(255, 153, 0, .3);
	border: 2px solid rgb(255, 153, 0);
}
#content:hover a:last-child {
	transform: translate(30px, 0);
	background: rgba(0, 255, 204, .3);
	border: 2px solid rgb(0, 255, 204);
}
h2 {
	font-size: 3em;
	color: orange;
	transition: text-shadow .3s;
	margin: 0;
	line-height: 80px;
	margin-bottom: 50px;
}
#content div a {
	display: inline-block;
	height: 48px;
	line-height: 48px;
	width: 100px;
	background: rgba(255, 50, 50, .3);
	border: 2px solid rgb(255, 50, 50);
	transition: background .2s, transform .7s linear;
}
#content div a:hover {
	background: rgba(255, 153, 0, .6);
}
#content div a:last-child:hover {
	background: rgba(0, 255, 204, .6);
}
footer{
	background: rgba(255, 255, 255, .6);
	text-align: center;
}
#f1, #f2, #f3, #f4 {
	display: inline-block;
	width: 24%;
	text-align: center;
	transition: background .3s;
	padding-bottom: 10px;
}
#f1:hover, #f2:hover, #f3:hover, #f4:hover {
	background: rgba(0,0,200,.3);
	cursor: pointer;
}
#f1:active, #f2:active, #f3:active, #f4:active {
	background: rgba(255,0,0,.5);
}
footer img, footer em {
	display: block;
}
footer img {
	height: 100px;
	margin: 10px auto;
}
#button {
	position: fixed;
	top: 18px;
	right: 20px;
	width: 99px;
	height: 99px;
	border-radius: 50%;
	background: url(1.png);
	background-size: 99px 99px;
	animation-name: click;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}
#button:hover {
	cursor: pointer;
	animation-duration: .5s;
}

#backgB {
	position: fixed;
	top: 12px;
	right: 15px;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background: rgba(0, 0, 100, .5);
}
@font-face {
	font-family: SIK;
	src: url(normal.ttf);
}
@font-face {
	font-family: SIK;
	src: url(italic.ttf);
	font-style: italic;
}
@font-face {
	font-family: SIK;
	src: url(bold.ttf);
	font-weight: bold;
}
@keyframes head1 {
	0%{
		transform: rotate(0);
	}
	25%{
		transform: rotate(-10deg);
	}
	75%{
		transform: rotate(10deg);
	}
	100%{
		transform: rotate(0);
	}
}
@media only screen and (min-height: 1000px) {
	body {
		background-image: url(f1.jpg);
	}
	#content {
		margin: 35% auto;
		height: 30%;
	}
}
@keyframes click {
	0%{
		transform: scale(1);
	}
	25%{
		transform: scale(0.95);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes click2 {
	0%{
		transform: scale(1.7);
	}
	100%{
		transform: scale(1);
	}
}
footer span {
	position: relative;
}
.efect {
	display: none;
	position: absolute;
	left: 21%;
}
footer span:active .efect {
	display: block;
	animation-name: fly;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}
@keyframes fly {
	0%{
		transform: translate(0, 0) scale(1);
	}
	100%{
		transform: translate(0, -200px) scale(.2);
	}
}