* {
	padding: 0;
	margin: 0;
	font-size: 20px;
}
:root{
	--b1-c: #4f2523;
	--b2-c: #a1795a;
	--g2-c: #eeeeee;
	--g1-c: #5f5c58;
	--s1-c: #08051b;
}
.btn-top{
	background-image: url("up.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
	height: 60px;
	width: 60px;
	background-color: rgba(100, 100, 100, .5);
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 20px;
	z-index: 90;
}
.btn-top:hover{
	cursor: pointer;
	background-color: var(--b2-c);
	-webkit-transition: .5s;
	transition: .5s;
}

body {
	background-color: var(--g2-c);
	font-size: 20px;
}
header {
	background-color: var(--s1-c);
	text-align: center;
}
header img {
	height: 400px;
	margin: 120px;
	-webkit-animation-name: fade;
	        animation-name: fade;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}
.top-bar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: var(--s1-c);
}
.top-bar h1 {
	font-family: HeadFont;
	color: var(--g2-c);
	margin: 10px;
	font-size: 35px;
	font-weight: normal;
	-webkit-transition: 1s;
	transition: 1s;
	opacity: 0;
}
.contacts{
	font-family: MenuFont;
	color: var(--g2-c);
}
menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	color: var(--g2-c);
	list-style: none;
	font-family: MenuFont;
	letter-spacing: 2px;
	word-spacing: 2px;
	text-transform: uppercase;
}
menu li {
	margin: 15px;
	-webkit-animation-name: fade;
	        animation-name: fade;
	-webkit-animation-duration: 1.5s;
	        animation-duration: 1.5s;
	color: var(--g2-c);
}
menu li:hover {
	color: var(--b2-c);
	cursor: pointer;
}
section {
	font-family: MainFont;
	font-size: 10px;
}
section article {
	background-color: var(--g2-c);
	color: var(--s1-c);
}
section article h2 {
	font-size: 38px;
	text-align: center;
	margin: 80px 10px;
	font-family: NameFont;
}
section article div {
	margin: 60px 0;
}
section article div .name {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
section article div .name .images {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	height: 120px;
	background-color:  var(--g1-c);
}
section article div .name .images img {
	width: 100px;
	height: 100px;
	margin: 5px 10px;
}
section article div h3{
	background: var(--g1-c);
	color: var(--g2-c);
	font-size: 34px;
	padding: 20px 20px;
	font-family: NameFont;
	flex: 1;
	line-height: 80px;
}

section article div p {
	padding: 10px 30px;
	letter-spacing: 1px;
	word-spacing: 1px;
	font-size: 20px;
}
section article div p ul {
	list-style: none;
	padding: 5px;
}
section article div p ul li {
	padding: 5px;
}
section article div h4 {
	display: inline-block;
	font-weight: normal;
	padding: 3px 40px;
	letter-spacing: 1px;
	word-spacing: 2px;
	margin: 10px;
}
section article div h4 strong {
	color: var(--b1-c);
}
.span {
	height: 60px;
	width: 100%;

}
footer {
	background: var(--s1-c);
	color: var(--g2-c);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 30px;
	font-size: 10px;
	font-family: MenuFont;
}
footer span {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
footer span * {
	margin: 5px;
}

.start {
	opacity: 0;
}
.run {
	-webkit-transition: 2s;
	transition: 2s;
	width: 100%;
	opacity: 1;
}
.open, .close {
	display: none;
}

@media only screen and (max-width: 870px) {
	menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.97);
		flex-direction: column;
		align-content: center;
		justify-content: center;
		text-align: center;
		z-index: 100;
	}
	.open {
		display: block;
		width: 50px;
		height: 50px;
		position: fixed;
		top: 5px;
		right: 30px;
		z-index: 99;
		background-image: url(reorder-option.png);
		background-size: 50px;
		background-position: center;
		background-repeat: no-repeat;
	}
	.open:hover {
		background-image: url(reorder-option2.png);
		cursor: pointer;
	}
	menu .close {
		display: block;
		width: 50px;
		height: 50px;
		position: fixed;
		top: 5px;
		right: 30px;
		z-index: 101;
		background-image: url(close.png);
		background-size: 50px;
		background-position: center;
		background-repeat: no-repeat;
	}
	menu .close:hover{
		background-image: url(close2.png);
	}
	menu li {
		font-size: 30px;
	}
	.images{
		display: none;
		width: 0;
		height: 0;
	}
	article h3{
		text-align: center;
	}
}

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@font-face {
	font-family: MenuFont;
	src: url("CaviarDreams.ttf");
}
@font-face {
	font-family: NameFont;
	src: url("Alice-Regular.ttf");
}
@font-face {
	font-family: HeadFont;
	src: url("13855.otf");
}
@font-face {
	font-family: MainFont;
	src: url("opensanslight.ttf");
}