:root{
	--basis-s: 40%;
	--basis-z: 2.5;
	--basis-d: 1s;
}
.logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
}
.little-broken-logo, .middle-broken-logo, .broken-logo, .full-logo {
	position: absolute;
	top: calc((100% - var(--basis-s)) / 2);
	right: calc((100% - var(--basis-s)) / 2);
	width: var(--basis-s);
	height: var(--basis-s);
	background-position: center;
	background-repeat: no-repeat;
	background-size: var(--basis-s);
	opacity: 0;

	animation-name: takeColor;
	animation-duration: calc(var(--basis-d) / 20 * 3);
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
.full-logo {
	background-image: url("../images/MyLogo2.png");
	animation-name: zoomOut;
	animation-duration: calc(var(--basis-d) / 20 * 17);
	animation-timing-function: cubic-bezier(.45,.2,.9,.06);
}
.little-broken-logo {
	background-image: url("../images/MyLogo3.png");
	animation-delay: calc(var(--basis-d) / 20 * 16);
}
.middle-broken-logo {
	background-image: url("../images/MyLogo4.png");
	animation-delay: calc(var(--basis-d) / 20 * 17);
}
.broken-logo {
	opacity: 1;
	background-image: url("../images/MyLogo.png");
	animation-name: loseColorTake;
	animation-duration: var(--basis-d);
}
@keyframes zoomOut {
	0% {
		opacity: 1;
		transform: scale(var(--basis-z));
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes takeColor {
	0% {
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
@keyframes loseColorTake {
	0% {
		opacity: 0;
	}1%{
		opacity: 0;
	}
	94%{
		opacity: 0;
	}
	95%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}


.nav {
	position: fixed;
	top: 0;
	left: 0;
	list-style: none;
	margin: 10px;
	opacity: .7;
	width: 50px;
	transition: opacity .3s ease-in-out;
	z-index: 2;

	animation-name: hideM;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
}
.nav:hover {
	opacity: 1;
}
/* Zgortannya i Rozgortannya menu */

.nav li {
	height: 50px;
	overflow: hidden;
	width: 50px;
	transition: width .2s ease-in-out, height .2s ease-in-out .2s;/*vuizd zakladku*/
}
.nav li:hover {
	height: 174px;
	width: 200px;
}
.nav li.core:hover {/*43*/
	height: 215px;
}
.nav li.web:hover {/*43*/
	height: 338px;
}
.nav li.game:hover {/*43*/
	height: 133px;
}
.nav li.development:hover{
	height: 133px;
}
/* (over)/zgortannya block*/
.nav li a {
	background: #777;
	color: #fff;
	cursor: pointer;
	display: block;
	height: 40px;
	line-height: 40px;
	margin: 1px;
	padding-left: 15px;
	width: 200px;
	transition: background .2s ease-in-out;
}
.nav li.development a{
	background: #222;
}

.nav li a:first-child  /*Pershuy el*/ {
	font-size: 1.1em;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-indent: 36px;
}

.nav li a:first-child::before {
	content: '';
	display: block;
	height: 32px;
	left: 9px;
	position: absolute;
	top: 9px;
	width: 32px;
}
.nav li a:hover {
	background: #444;
}

.development a:first-child::before {
	background: url("../images/development.png") center no-repeat;
	background-size: 32px;
}
.core a:first-child::before {
	background: url("../images/core.png") center no-repeat;
	background-size: 32px;
}
.full a:first-child::before {
	background: url("../images/full.png") center no-repeat;
	background-size: 32px;
}
.game a:first-child::before {
	background:url("../images/game.png") center no-repeat;
	background-size: 32px;
}
.web a:first-child::before {
	background:url("../images/web.png") center no-repeat;
	background-size: 32px;
}

@keyframes hideM{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}