/***********************************HEADER***********************************/
header {
	background: rgba(0,0,0,.85);
	color: rgb(255, 215, 0);
	position: relative;
	margin: 0 auto;
	padding: 7px;
}
header img, header h1, header span, header button {
	display: inline-block;
}
header img {
	width: 160px;
}
header h1 {
	font-size: 120px;
	line-height: 130px;
	margin: 0;
	padding: 0;
}
header span {
	position: absolute;
	right: 100px;
	top: 33px;
	z-index: 2;
}
header span em {
	display: block;
	font-size: 19px;
	line-height: 40px;
	padding: 0;
	color: black;
}
header a {
	text-decoration: none;
	z-index: 2;
	position: absolute;
	right: 20px;
	top: 44px;
	border-radius: 50%;
	height: 56px;
	width: 56px;
	background: url(../images/tel.png) center no-repeat;
	background-size: 56px;
	border: 1px solid black;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}
header a:hover {
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.9), 0 0 20px rgba(255, 255, 255, 0.7);
}
header a:active {
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
	top: 46px;
}
header span .tel {
	position: absolute;
	top: 5px;
	right: 177px;
}
header span .email {
	position: absolute;
	top: 45px;
	right: 177px;
}
#fon {
	position: absolute;
	width: 321px;
	height: 98px;
	border-radius: 10px 0 0 10px;
	background: rgba(255,215,0,.5);
	right: 0;
	top: 25px;
	z-index: 1;
}